@font-face {
  font-family: 'Shabnam';
  src: url('../fonts/Shabnam.eot') format('eot'),
    url('../fonts/Shabnam.ttf') format('truetype'),
    url('../fonts/Shabnam.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}
